<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="s/main.css">
	<body>
		<h1>GDG Missoula URL Shortner</h1>

		{% if error %}
		<div id="error">
			<h2>Error</h2>
			<p>We were unable to create a short url becuase there was an error in the attempt to fetch your url:</p>
			<p id="error-text">{{ error }}</p>
		</div>
		{% endif %}
		
		{% if created %}
		<div id="link">
			<h2>Your short Url</h2>
			<h3><a href="http://{{ hostname }}/{{ hash }}">http://{{ hostname }}/{{ hash }}</a></h3>
		</div>
		{% endif %}

		<form action="/" method="POST">
			<div>
				<label for="text">Link</label>
				<input type="text" name="link" id="text"></text>
			</div>
			<div>
				<input type="submit" value="Shorten">
			</div>
		</form>

		<!-- TODO: Create a list of recent shortened urls. -->

	</body>
</html>
{% endautoescape %}