<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="s/main.css">
		<title>GDG-Url -- GDG Missoula</title>
	<body>
		<h1><img src="s/gdgmso.png" id="logo"/> URL Shortener</h1>

		{% if error %}
		<div class="alert alert-error">
			<h2>Error</h2>
			<p>We were unable to create a short URL because there was an error in the attempt to fetch your URL:</p>
			<p id="error-text">{{ error }}</p>
		</div>
		{% endif %}
		
		{% if created %}
		<div id="link">
			<h2>Your short Url</h2>
			<h3><a href="http://{{ hostname }}/{{ hash }}">http://{{ hostname }}/{{ hash }}</a></h3>
		</div>
		{% endif %}

		<!-- Place to enter a new URL to be shortened -->
		<div class="well pull-left">
			<form action="/" method="POST" class="form-inline">
				<label class=bold>
					Paste your long URL here:
					<br>
					<input type="text" name="link" id="text"></text>
				</label>
				<input type="submit" value="Shorten URL" class="btn btn-primary">
			</form>
		</div>
		<!-- TODO: Create a list of recent shortened urls. -->

		<table class="table table-striped">
			<tr>
				<th>LONG URL</th>
				<th>CREATED</th>
				<th>SHORT URL</th>
			</tr>
			<!-- repeat this table row for each short URL in our datastore-->
			{% for url in urls %}
			<tr>
				<td>{{ url.link }}</td>
				<td>{{ url.timestamp }}</td>
				<td><a href="http://{{ hostname }}/{{ url.key().name() }}">http://{{ hostname }}/{{ url.key().name() }}</a></td>
			</tr>
			{% endfor %}
		</table>

	</body>
</html>
{% endautoescape %}